@import "../../variables.scss";
@import "../../mixins.scss";

.button {
  display: block;
  width: 80%;
  border-radius: $rounded-radius;
  color: white !important;
  font-weight: 600 !important;
  height: 45px;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
}

.donate-btn {
  text-transform: uppercase;
  text-align: center;
  background-color: #c50101;
  letter-spacing: 0.1rem;
  box-shadow: none;
  border: none;
  &:hover {
    box-shadow: $shadow;
  }
  @include flex(center, center, row);
}

.social {
  @include flex(flex-start, center, row);
  height: 100%;
  position: relative;
  font-weight: 600;
}

.social-icon {
  width: 50px;
  height: 100%;
  @include flex(center, center, row);
  ion-icon {
    font-size: 20px;
  }
}

.social-name {
  padding-left: 15px;
}

.facebook-btn {
  background-color: #3a5691 !important;
  transition: 0.3s;
  &:hover {
    background-color: #48649b !important;
  }
}
.twitter-btn {
  background-color: #1a9be7 !important;
  transition: 0.3s;
  &:hover {
    background-color: #3babeb !important;
  }
}
.email-btn {
  background-color: #ff1500 !important;
  transition: 0.3s;
  &:hover {
    background-color: #ea4335 !important;
  }
}
.linkedin-btn {
  background-color: #0077b5 !important;
  transition: 0.3s;
  &:hover {
    background-color: #0086ce !important;
  }
}
.whatsapp-btn {
  background-color: #1fae53 !important;
  transition: 0.3s;
  &:hover {
    background-color: #25d36d !important;
  }
}

@include tablet {
  .social {
    @include flex(flex-start, center, row);
  }
}
