@import "../../mixins.scss";
@import "../../variables.scss";

.contribute {
  @include flex(center, center, row);
  margin: 20px 0;
  box-shadow: $shadow;
  .contribute-container {
    width: 1000px;
    height: 100%;
    @include flex(space-around, stretch, row);
    .contributors {
      @include flex(flex-start, flex-start, column);
      width: 25%;
      background-color: rgba(0, 0, 0, 0.611);
      padding: 15px;
      h2 {
        color: orange;
        margin-bottom: 20px;
        border-left: 2px solid yellow;
      }
      h2,
      em {
        padding-left: 20px;
      }
      em {
        color: white;
      }
    }
    .comments {
      background-color: rgba(255, 255, 255, 0.673);
      width: 45%;
      .sad-face {
        height: 50px;
        width: 50px;
        margin: 30px 0;
      }
      @include flex(flex-start, center, column);
    }
  }
}

@include tablet {
<<<<<<< HEAD
  .container {
=======
  .contribute {
    .contribute-container {
      @include flex(center, center, column);
      width: 90vw;
    }
    .column {
      width: 100% !important;
    }
>>>>>>> 34a7867a1fc98e9e4d5f34d5d42ff3a0cac637ac
  }
}
