@import "../../variables.scss";
@import "../../mixins.scss";

.video {
  @include flex(center, center, row);
  box-shadow: $shadow;
  margin-bottom: 20px;
  .container {
    padding: 20px;
    width: 1000px;
    @include flex(center, center, column);
    h1 {
      text-transform: uppercase;
      color: white;
    }
  }
}

@include tablet {
  .video {
    .container {
      width: 90vw;
      h1 {
        font-size: 30px;
      }
      iframe {
        width: 450px;
        height: 280px;
      }
    }
  }
}

@include mobile {
  .video {
    .container {
      h1 {
        font-size: 22px;
      }
      iframe {
        width: 280px;
        height: 200px;
      }
    }
  }
}
