@import "../../variables.scss";
@import "../../mixins.scss";

.about {
  color: black;
  @include flex(center, center, row);
  box-shadow: $shadow;
  .about-container {
    width: 1000px;
    .mission {
      @include flex(space-between, center, row);
      padding: 20px;
      &-content {
        width: 60%;
        // @include flex(center, center, column);
        font-size: 18px;
        padding: 20px;
      }
      &-image {
        width: 38%;
      }
    }
    .plan {
      @include flex(space-between, center, row);
      padding: 20px;
      &-content {
        width: 50%;
        padding: 20px;
        font-size: 18px;
        ul {
          li {
            list-style: none;
            padding: 5px 0;
            &:before {
              content: "";
              display: inline-block;
              height: 10px;
              width: 10px;
              background-image: url("https://img.icons8.com/ios-filled/50/000000/checkmark.png");
              background-size: contain;
              background-repeat: no-repeat;
              margin-right: 10px;
            }
          }
        }
      }
      &-image {
        width: 48%;
      }
    }
  }
}

.about-content {
  background-image: linear-gradient(white, #f7eed0);
  border-radius: $bubble-radius;
}
.about-image {
  box-shadow: $shadow;
}

@include tablet {
  .about {
    .about-container {
      width: 90vw;
      .mission {
        @include flex(space-between, space-between, column);
        &-content {
          align-self: flex-start;
          width: 80%;
          margin-bottom: 20px;
          font-size: 16px;
          padding: 10px;
        }
        &-image {
          align-self: flex-end;
          width: 60%;
        }
      }
      .plan {
        @include flex(space-between, space-between, column);
        &-content {
          align-self: flex-end;
          width: 80%;
          margin-bottom: 20px;
          font-size: 16px;
          padding: 10px;
        }
        &-image {
          align-self: flex-start;
          width: 60%;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@include mobile {
  .about {
    .about-container {
      .mission {
        &-content {
          width: 100%;
        }
        &-image {
          width: 80%;
        }
      }
      .plan {
        &-content {
          width: 100%;
        }
        &-image {
          width: 80%;
        }
      }
    }
  }
}
