@import "../../variables.scss";
@import "../../mixins.scss";

.contact {
  margin-top: 60px;
  color: black;
  text-align: center;
  font-size: 20px;
  &-social {
    color: white;
    @include flex(center, center, row);
    margin-bottom: 20px;
    .social-link {
      @include flex(center, center, row);
      padding: 10px;
      border-radius: 5px;
      font-size: 30px;
      margin: 0 5px;
      transition: 0.2s;
      &:hover {
        opacity: 0.7;
        transition: 0.2s;
      }
    }
  }
  p {
    margin: 0;
    a {
      &:hover {
        color: gray !important;
      }
    }
  }
  .crowdwork {
    margin-top: 100px;
    @include flex(center, center, row);
    img {
      width: 75px;
      margin-right: 5px;
    }
    p {
      text-transform: uppercase;
      font-size: 16px;
    }
  }
  footer {
    color: white;
    font-size: 18px;
    em {
      color: white;
      font-size: 16px;
    }
    background-color: #22394b;
    padding: 20px 0;
  }
}

//social variations

.social-facebook {
  background-color: $facebook-color;
}
.social-instagram {
  background-color: black;
}
.social-twitter {
  background-color: $twitter-color;
}
.social-whatsapp {
  background-color: $whatsapp-color;
}
.social-linkedin {
  background-color: $linkedin-color;
}

@include mobile {
  .contact {
    font-size: 14px;
  }
  .crowdwork {
    margin-top: 50px !important;
    p {
      font-size: 12px !important;
    }
  }
  footer {
    font-size: 16px !important;
    em {
      font-size: 14px !important;
    }
  }
}
