@import "../../variables.scss";
@import "../../mixins.scss";
nav {
  font-family: "Roboto";
  font-weight: 800;
  height: 80px;
  color: white;
  @include flex(flex-start, center, row);
  .link-container {
    margin-left: 20px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.262);
      transition: 0.3s;
    }
    transition: 0.3s;
    font-size: 12px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 16px 16px 16px 10px;
    background-color: rgba(0, 0, 0, 0.118);
    border-radius: $bubble-radius;
    box-shadow: $shadow;
  }
}
