@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin grid($rows, $columns) {
  display: grid;
  grid-template-rows: repeat($rows, 1fr);
  grid-template-columns: repeat($columns, 1fr);
}

@mixin background($size, $position) {
  background-size: $size;
  background-position: $position;
  background-repeat: no-repeat;
}

@mixin fill($height, $width) {
  height: $height;
  width: $width;
}

@mixin tablet {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 500px) {
    @content;
  }
}
